/* Project-wide styles */
* {
    font-family: 'Roboto Condensed', sans-serif;
}
a {
    text-decoration: none;
}
.bottomElement {
    margin-bottom: 30px;
}
/* Specific to index.html */
div.centerThis {
    margin: 0;  
    position: relative;
    top: 40%;
}
.mainMenuOptions:hover {
    background-color: #80a080;
}
#circle { 
    background-image: url("resources/images/ambient_background3.gif");    
    border-color: #000000;
    border-radius: 600px;
    border-style: solid;
    border-width: 1px;    
    height: 600px;
    left: 10%;                
    top: 10%;
    width: 600px;   
    left: 50%;  
    margin: -300px 0 0% -300px; 
    opacity: 0.7;           
    position: absolute;
    top: 50%;    
} 
#indexPage {
    background-color: #ffffff;
    background-attachment: initial;
}
#indexPage:target {
    background-color: #000000;
}

#indexPage:target #circle {
    background-image: url("resources/images/ambient_background4.gif");
    border-color: #ffffff;
    border-style: solid;
    border-width: 1px;
}
#indexPage:target .mainMenuOptions:hover {
    background-color: #f08080;
}
#menu {
    background-color: #f0a000; 
    border-radius: 50px; 
    font-size: 18px;    
    font-weight: bold;  
    height: 100px; 
    left: 50%;  
    margin: -50px 0 -25% -30%; 
    min-width: 200px;  
    opacity: 0.9;           
    position: absolute;
    text-align: center; 
    top: 50%;
    width: 60%; 
}
#menu h1 {
    font-size: 22px;        
    margin: 0;
}
#menu a {
    color: #000000;
    text-decoration: none;
}
#menu a:hover {
    color: #ffffff;
    font-size: 19px;
}
#menu:hover #menuLabel {
    display: none;
}
#menu:hover #dropMenu {
    border-radius: 50px; 
    display: block;
}
#menuLabel h1
{
    font-size: 25px;
}
#dropMenu {
    background-color: #f0a000;  
    display: none;
    height: 300px;           
}
#dropMenu div {
    height: 33.33%;             
}
#opt1:hover {  
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;                 
}
#opt3:hover {     
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;   
} 
/* Specifically for aboutme.html */
.aboutMain {
    background-color: #000000;
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
    color: #00f0a0;
    font-size: 14px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    min-width: 200px;  
    opacity: 0.85;
    padding: 30px;
    position: relative;
    text-align: center;
    width: 60%;
}
.aboutMain a {
    color: #00f0a0;
}
.aboutMain a:hover {
    color: #f000a0;
    font-weight: bold;
}
.aboutMain p:hover::first-line {
    color: #f0a000;
}
.aboutMain:hover h1 {
    color: #f0a000;
}
#aboutPage {
    background-attachment: fixed;  
    background-color: #000000;    
    background-image: url("resources/images/kusama.jpg");
    background-size: 100% 100%;
}
/* Specifically for coursework.html */
.circleStyle {
    list-style-type: disc;
}
.tasksFlexContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.taskListContainer {
    background-color: #000000;
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
    color: #00f0a0;
    font-size: 14px;
    margin: 30px;
    margin-bottom: 30px;
    margin-top: 30px;  
    min-width: 200px;      
    opacity: 0.85;
    padding: 30px;
    position: relative;
    width: 60%;
}
.taskListContainer a, .taskListContainer hr {
    color: inherit;
}
.taskListContainer a:hover {
    color: #f000a0;
    font-weight: bold;
}
.taskListContainer h2, .taskListContainer h3 {
    text-align: center;
}
.taskListContainer:hover h2 {
    color: #f0a000;
}
#courseworkNav {
    margin: 30px;  
    min-width: 200px; 
    position: initial;     
    width: inherit;
}
#courseworkPage {
    background-attachment: fixed;  
    background-color: #000000;   
    background-image: url("resources/images/stainedglass.jpg");
    background-size: 100% 100%;
}
@media only screen and (max-width: 1000px) {
    .tasksFlexContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #courseworkNav {
        margin-top: 30px;
        margin-left: auto;  
        margin-right: auto;
        min-width: 200px; 
        position: initial;     
        width: 60%;
    }
}
/* Specifically for task pages */
.refs {
    word-wrap: break-word;
}
.taskPage {
    background-attachment: fixed;   
    background-color: #000000; 
    background-image: url("resources/images/ambientbackground.gif");
    background-size: 100% 100%;
}
.tasks {
    background-color: #ffffff;
    border-radius: 25px;
    color: #000000;
    font-size: 14px;
    opacity: 0.3; 
    padding: 30px;
    margin: auto;  
    margin-bottom: 30px;
    margin-top: 30px; 
    min-width: 200px; 
    width: 60%;    
}
.tasks a {
    color: #000000
}
.tasks:hover {
    opacity: 0.9;
}
.tasks p:hover, .tasks h4:hover {
    font-weight: bolder;
}
.tasks:hover a {
    color: #6000ff;
    font-weight: bold;
}
.tasks:hover a:hover {
    color: #f000a0;
}
.tasks:hover .questions, .tasks:hover h3 {
    color: #f0a000;
}
.tasksNav {
    background-color: #f0a000;
    color: #000000;
    display: flex;
    flex-direction: row;
    height: 15px;
    justify-content: space-around;
    left: 0%;
    min-width: 200px;
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 1;
}
.tasksNav a {
    color: #000000;
}
.tasksNav a:hover {
    color: #ffffff;
    font-weight: bold;
}
.tasksNav h3 {
    display: none;
    font-size: 18px;
}
.tasksNav:hover {
    height: 60px;
}
.tasksNav:hover h3 {
    display: inline;
}
.tasksNav:hover #navDownArrow {
    display: none;
}
.taskNavLinks {
    flex: 1;
    width: 50%;
}
#navDownArrow {
    display: inline;
    opacity: 0.8;
    vertical-align: 0%;
}
#navDownArrow {

}
#navDownArrow img {
    min-width: 0;
    width: 30px;
}